.page-view .main-view {
  color: var(--main);
  // height: 250vh;
  .intro {
    background-color: var(--main-bg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100vh;
      &.left {
        background-color: var(--darkest-bg);
        .intro-content {
          width: 100%;
          h1 {
            font-size: 5rem;
            // margin-bottom: r?em;
            line-height: 0.9em;
            letter-spacing: 0.125em;
          }
          h4 {
            font-size: 1.75rem;
            font-weight: 500;
            margin-bottom: 0.6rem;
          }
          h5 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
          }
          h6 {
            font-size: 1.125rem;
            font-weight: 300;
            margin-bottom: 0.6rem;
          }
          p {
            font-size: 1.125rem;
            font-weight: 300;
          }
        }
      }
      &.right {
        position: relative;
        overflow: hidden;
        .bg-image {
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
        }
        .my-image {
          width: 60%;
          max-height: 80%;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          bottom: 0;
          object-fit: contain;
        }
      }
    }
  }
  .about {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2rem;
      // color: var(--sec);
    }
    .section {
      padding: 0.6rem 0;
      h3 {
        font-size: 1.325rem;
        margin-bottom: 0.2rem;
      }
      h4 {
        font-size: 1rem;
        // margin-bottom: 0.2rem;
        margin-top: 0.4rem;
      }
      p {
        color: var(--text-sec);
        a {
          color: var(--text-main);
          font-weight: 500;
          &:hover {
            color: var(--sec-text);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
