:root {
  --main: #d6d6d6;
  --main-dark: #0a101c;
  --main-light: #615c66;
  --light: white;
  --light-bg: white;
  --text-main: white;
  --text-sec: #bebebe;
  --med-light-bg: #615c66;
  --main-bg: #292b3f;
  --darkest-bg: #03070e;
  --dark-bg: #0a101c;
  --sec-text: #ff7994;
  --sec: #fe1542;
  --sec-light: #eb395c;
  --sec-dark: #b60629;
  --shadow: #ffffff26;
  --sec-shadow: #fe154226;
  --error: #dc2626;
  --success: #4ade80;
  --warning: #f59e0b;
}

$main: var(--main);
$mainDark: var(--main-dark);
$mainLight: var(--main-light);
$light: var(--light);
$lightBg: var(--light-bg);
$mainBg: var(--main-bg);
$dark: var(--dark-bg);
$sec: var(--sec);
$secLight: var(--sec-light);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
// font-family: 'Open Sans', sans-serif;

.main-section {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50rem;
  max-width: 100%;
}
.tight-section {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 35rem;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  color: var(--main);
  // font-family: "Open Sans", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Defaults */

ul.def {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
  &:visited {
    color: inherit;
  }
}
button.def {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
}
svg.bi {
  width: 1em;
  height: 1em;
  object-fit: cover;
}

.input-section {
  width: 100%;
  padding: 0.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    display: block;
    margin-bottom: 0.4rem;
    span {
      display: none;
    }
    &.error span {
      display: inline;
      font-size: 0.9em;
      color: #fda4af;
    }
  }
}

.input-main {
  resize: none;
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.445);
  border-radius: 0.3rem;
  width: 100%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  padding: 0.4rem 0.6rem;
  font-family: inherit;
  margin-bottom: 1rem;
  transition: 200ms;
  &:focus {
    box-shadow: 0 0 0.1rem 0.1rem var(--sec-text);
  }
  &.error {
    border: 2px solid #e11d48;
  }
}
.textarea-main {
  min-height: 10rem;
  display: block;
}

.head-main {
  margin-bottom: 1rem;
  color: inherit;
}

.btn-main {
  width: fit-content;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  background-color: var(--sec);
  border: 1px solid var(--sec-dark);
  color: var(--text-main);
  transition: 400ms;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 0.2rem var(--sec-light);
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }
}
